<div class="wrapper-cart">
  <h1>Create Product</h1>

  <div
    style="
      width: 70%;
      margin: auto;
      background: #fff;
      padding: 1rem;
      border-radius: 8px;
    "
    [formGroup]="product"
  >
    <div class="form-control">
      <label for="name">Name:</label>
      <div>
        <input type="text" id="name" formControlName="name" />
      </div>
      <div *ngIf="name?.dirty || name?.touched">
        <div style="color: #a63b3b;" *ngIf="name?.hasError('required')">
          Name is required
        </div>
      </div>
    </div>
    <div class="form-control">
      <label for="price">Price:</label>
      <div>
        <input type="text" id="price" formControlName="price" />
      </div>
      <div *ngIf="price?.dirty || price?.touched">
        <div style="color: #a63b3b;" *ngIf="price?.hasError('required')">
          Price is required
        </div>
      </div>
    </div>
    <div class="form-control">
      <div
        class="btn-navigation"
        (click)="handleAddCart()"
        style="padding: 0.8rem; color: #fff; margin-top: 0.4rem"
      >
        Add to cart
      </div>
    </div>
  </div>
</div>
