.group-cart {
  width: 75%;
  background: #fff;
  margin: auto;
  padding: 2rem;
  border-radius: 4px;
}

.header-cart {
  display: flex;
  padding: 1rem;
  background: #e2e2e2;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.col-1 {
  flex: 1;
}
.col-2 {
  flex: 1.5;
}
.col-3 {
  flex: 1;
}
.col-4 {
  flex: .5;
}

.body-cart {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}

.row-cart {
  display: flex;
  align-items: center;
}